h1.chapter-header {
    padding: 3%;
    padding-left: 3%;
    color: white;
    background-color: black;
    text-align: center;
    border-top: 0.5em;
    border-top-style: solid;
    border-top-color: blue;
    border-bottom: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: green;
    border-right: 0.5em;
    border-right-style: solid;
    border-right-color: red;
    border-left: 0.5em;
    border-left-style: solid;
    border-left-color: yellow;
    line-height: 2em;
    text-transform: uppercase;
}

h1 {
    font-family: "Times New Roman";
    font-size:53px;
}

h2.chapter-header2 {
    color: black;
    background-color: white;
    text-align: center;
    border-top: .5em;
    border-top-style: solid;
    border-top-color: blue;
    border-bottom: .5em;
    border-bottom-style: solid;
    border-bottom-color: green;
    line-height: 2em;
    text-transform: uppercase;
}

h2 {
    font-family: "Times New Roman";
    font-size:23px;
}

h3.chapter-header3 {
    padding-left: 15%;
    padding-right: 15%;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 2em;
}

h2 {
    font-family: "Times New Roman";
    font-size:23px;
}

ul.a { 
    list-style-type: square;
} 

a:link {color:#FF0000;}    /* unvisited link */
a:visited {color:#00FF00;} /* visited link */
a:hover {color:#FF00FF;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

}




