h1.chapter-header {
    padding: 23%;
    padding-left: 23%;
    color: white;
    background-color: white;
    text-align: center;
    border-bottom: 0.5em;
    border-bottom-style: outset;
    border-bottom-color: white;
    line-height: 2em;
    text-transform: uppercase;
}

h1 {
    font-family: sans-serif;
}
